//
//  Staging.xcconfig
//
//
//  Created by Alex Kovalov.
//  Copyright © 2019 Requestum. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-App/Pods-App.staging-debug.xcconfig"
#include "Pods/Target Support Files/Pods-App/Pods-App.staging-release.xcconfig"

SERVER_ENVIRONMENT = staging

CUSTOM_PRODUCT_BUNDLE_IDENTIFIER = com.app.app.staging
MARKETING_VERSION = 1.0
CURRENT_PROJECT_VERSION = 1

APP_NAME = AppForType
